services:
  clubsandsocs-api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: clubsandsocs-api
    hostname: clubsandsocs-api
    restart: unless-stopped
    ports:
      - ${PORT:-4000}:4000
